* {
    font-family: 'Lato', sans-serif;
}

.cor-rodape {
    background-color: var(--bs-yellow);
    padding: 15px;
    height: 30px;
}

.cor-rodape p {
    text-align: center;

}

.promocao-image-card {
    width: 320px;
    height: 250px;
}