<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<title>Cadastrar Viagens</title>
</head>

<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Viagens</a>
		</div>
	</nav>

	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Cadastrar nova Viagem</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<form method="POST" th:object="${cliente}" enctype="multipart/form-data">
				//id, destino, data_destino, origem, data_origem
					<div class="mb-3">
						<label for="nome" class="form-label">Destino</label>
						<input type="text" class="form-control" id="destino" th:field="*{destino}">
					</div>
					<div class="mb-3">
						<label for="dataNascimento" class="form-label">Data Destino</label>
						<input type="date" class="form-control" id="data_destino" th:field="*{data_destino}">
					</div>
					<div class="mb-3">
						<label for="profissao" class="form-label">Origem</label>
						<input type="text" class="form-control" id="origem" th:field="*{origem}">
					</div>
					<div class="mb-3">
						<label for="data_origem" class="form-label">Data Origem</label>
						<input type="date" class="form-control" id="data_origem" th:field="*{data_origem}">
					</div>
					
					<br>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>
		</div>
	</main>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>

</html>